@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.Index {
    width: 100%;
    height: 100vh;
    background: #000;
    position: relative;
    overflow: hidden;
}

.Index::after {
    content: '';
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: url(../img/galaxy.jpg) no-repeat;
    background-size: cover;
    opacity: .3;
    animation: anim 25s linear infinite;
    pointer-events: none 


}

@keyframes anim {
    50% {
        transform: scale(2);
    }

    100% {
        transform: scale(1);
    }
}

.contenido-inicio {
    text-align: center;
    left: 50%;
    top: 30%;
    position: absolute;
    transform: translateX(-50%) translateY(50%);

}

.contenido-inicio h1 {
    color: #ff7979;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 20px;
}

.contenido-inicio p {
    color: #ffffff;
    margin-bottom: 20px;
}


.contenido-inicio a:hover {
    color: #ffffff;
    background: #ff7979;
}

.text {
    padding: 10px;
    text-align: justify;
}

.button {
    background-color: transparent;
    border-radius: 28px;
    border: 1px solid #ff7979;
    display: inline-block;
    cursor: pointer;
    color: #ff7979;
    font-family: Arial;
    font-size: 17px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ff7979;
    z-index: 1;
}

.button:hover {
    background-color: transparent;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    transition: 0.4s linear;
}

.button:active {
    position: relative;
    top: 1px;
}
